{% extends '_layout.html' %}

{% block title %}Picnetic | Account{% endblock %}

{% block body %}
<div class="container">
    <!--header and edit-->
    <div class="row">
        <div class="col-sm">
            <h2> Hello, </h2><form method = "post" action = "/delete/{{ ui }}"> <button onclick="return confirm('Are you sure you want to delete your account?')" type="submit" class="btn btn-secondary" id="deletebut">Delete Account
            </button></form> <a href="/settings/{{ ui }}" type="button" class="btn btn-secondary" id="editbut">Edit
                    Account
            </a>

            <h3> {{ userAccount.user_name }}</h3>
        </div>
    </div>

    <!--comment history-->
    <div class="row">
        <div class="col-sm">
            <h2>Comment History</h2>

            <div class="table-wrapper-scroll-y my-custom-scrollbar">

                <table class="table table-dark table-bordered table-striped mb-0">
                    <tbody>
                        <tr>
                            {% for comments in comment_his %}
                            <td>{{ comments.comment }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!--post history-->
    <div class="row">
        <div class="col-sm">

            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <h2>Post History</h2>

                <table class="table table-dark table-bordered table-striped mb-0">
                    <tbody>
                        {% for posts in post_his %}
                        <tr>
                            <td><a href = "/{{ posts.post_id }}">{{ posts }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    

</div>

{% endblock %}