{% extends '_layout.html' %}

{% block title %}Picnetic | Account{% endblock %}

{% block body %}
<div class="container">
    <!--header and edit-->
    <div class="row">
        <div class="col-sm">
            <h2> User Account</h2> <a href="/settings"><button type="button" class="btn btn-secondary float-right">Edit Account</button></a>
            <h3> {{ userAccount.user_name }}</h3>
            <p>You have no posts or comment history!</p>
            <p>Create your first post <a href="/new-post"><button type="button" class="btn btn-secondary float-right">here</button></a>
        </div>
    </div>


</div>

{% endblock %}