<!--Page inspired by https://pythonbasics.org/flask-upload-file/ and https://flask.palletsprojects.com/en/1.1.x/patterns/fileuploads/-->

{% extends '_layout.html' %}

{% block title %}Picnetic | Create Post{% endblock %}

{% block body %}
<script>
  function preview() {
      frame.src = URL.createObjectURL(event.target.files[0]);
      document.getElementById("frame").style.borderColor = '#005035';
      document.getElementById("frame").style.borderStyle = 'solid';
  }
  function clearImage() {
      document.getElementById('formFile').value = null;
      frame.src = "";
  }
</script>
<div class="container col-md-6">
  <h1>Upload new File</h1>
  <hr>
  <form method=post enctype=multipart/form-data method = "text-align: center;" >   
    <img style = "display: block; margin-top: 25px; margin-left: auto; margin-right: auto; width: 40%;" id="frame" name= "frame" src="" class="img-fluid" />
    <h2 style = "font-size: 20px;  margin-top: 30px;" for="file"  class="form-label">Upload your image and type your caption below!</h2><br> 
    <input type=file name=file onchange="preview()" style = "font-size: 20px;"class="form-control mb-3">
    <select for="post-label" id="post-label" name = "post-label" class="form-control">
      <option value="none">Please Select A Label</option>
      <option value="campus">Campus</option>
      <option value="sports">Sports</option>
      <option value="student Org">Student Org</option>
      <option value="norm">Norm</option>
      <option value="alums">Alums</option>
      <option value="meme">Meme</option>
    </select>
  <textarea style = "font-size: 20px;  margin-top: 60px;" id="caption" name="caption" rows="4" cols="100" placeholder="Type your caption here."></textarea><br>
  <input type=submit value=Upload style = "background-color: #005035; color:white; height: 100%; width: 100.8% ">
  </form>
</div>

{% endblock %}