{% extends '_layout.html' %}

{% block title %}Picnetic | Sign Up{% endblock %}

{% block body %}
<style>
    form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;

    }
    input{
        width: 300px; 
        margin-bottom: 10px; 
    }
    label{
        font-size: 25px;  
        margin-top: 10px;
        margin-bottom: 5px
    }
</style>
<div>
<form method = "POST">
    
        <label for="emailAddress">Email Address</label><br>
        <input type = "text"  name = "emailAddress" id = "emailAddress" autocomplete = "off" ><br>
        <label for="userName">User Name</label><br>
        <input type = "text" name = "userName" id = "userName" autocomplete = "off" ><br>

        <label for="password">Password</label><br>
        
        <input type = "password"  name = "password" id = "password" autocomplete = "off" ><br>

        
        <label for="confirmPass">Confirm Password</label><br>
       
            <input type = "password" name = "confirmPass" id = "confirmPass" autocomplete = "off" ><br>
        
        <input  type="submit" value = "Create Account" style = "background-color: #005035; color:white; height: 50px; font-weight: bold;  "><br>

</form>
</div>
{% endblock %}