{% extends '_layout.html' %}

{% block title %}Picnetic | Edit Post{% endblock %}

{% block body %}
<style>
  h1,form{
    margin-left: 23.4375%;
    margin-right: 23.4375%;
  }
</style>
<h1>Edit Post</h1>

<form action="/{{ post.post_id }}" method="post">
    <label for="post-label" > Pick a label for your post</label>
    <select for="post-label" id="post-label" name = "post-label" class="form-control" value = '{{ post.post_label }} '>
        <option value="none">{{ post.post_label }}</option>
        <option value="campus">Campus</option>
        <option value="sports">Sports</option>
        <option value="student Org">Student Org</option>
        <option value="norm">Norm</option>
        <option value="alums">Alums</option>
        <option value="meme">Meme</option>
      </select>
      <textarea style = "font-size: 20px;  margin-top: 60px;" id="caption" name="caption" rows="4" cols="108"  autocomplete = "off">{{ post.post_cap }}</textarea><br>


    <button type = "submit" style = "background-color: #005035; color:white; height: 100%; width: 100% ">Submit</button>
</form>
{% endblock %}