{% extends '_layout.html' %}

{% block title %}Picnetic | Picnetic Home{% endblock %}

{% block body %}
<!---Grid layout inspired by https://www.w3schools.com/css/tryit.asp?filename=trycss_grid ---->
<!-- Modal inspired by https://www.w3schools.com/howto/howto_css_modals.asp -->
<style>
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        padding: 5px;
    }
    .grid-item{
        padding: 10px;
        font-size: 30px;
        text-align: center;

    }
    .image
    {
        width: 50%; 
        height: auto;
    }
    .modal{
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);

    }
    .content{
        background-color: black;
        margin: 5% auto;
        padding: 10px;
        width: 60%;
    }
    .close {
        color: #aaa;
        font-size: 25px;
        font-weight: bold;
        display: flex;
    }      
    .header{
        text-align: center;
        font-size: 30px;
        color: white;
        line-height: 33px;
        display: block;
    }
    .para{
        color: white;
        text-align: center;
        font-size: 20px;
        vertical-align: top;
    }
    .addCom{
        width: 85%;
        height: 40px;
        vertical-align: top;
        
    }
    .loadImg {
        width: 50%;
        border-color:#005035;
        border-style: solid;
        height: auto;
    }
    .container{
        margin-left: 23.4375%;
        margin-right: 23.4375%; 
    }

    .submit{
        background-color: #005035; 
        color:white; 
        width: 10%; 
        height: 40px; 
        font-size: 25px;
    }
    .com{
        font-size: 15px;
    }
</style>

<div class="container">
    

<h1> suh dude</h1>
<p>{{ us }}</p>
</div>

<div class="grid-container">
    {% for hi in posts %}
    <div class="grid-item">
        
     <input type = "image" src="{{ hi.post_picture }} " id = "image-{{ hi.post_id }}" class = "image" name = "{{ hi.post_id }}">  

</div>
{% endfor %}
{% for hi in posts %}
    <div class = "modal" id = "ModalForImage-{{ hi.post_id }}" name = "{{ hi.post_id }}"> 
            <div class = "content">
            <div style = "text-align: right;">
                <span class = "closeModal">x</span><br>
            </div>
            <div style = "text-align: left; padding-left: 5px;">
                <h2 class = "header">  {{ hi.post_label }}</h2>
            </div>
            <img src ="{{ hi.post_picture }}" class = "loadImg"> 
            <p class = "para">{{ hi.post_cap }}</p>
            <form method ="POST" >
                <input type = "hidden" name = "post" value = "{{ hi.post_id }}">
                <input id = "comment" style = "width: 40%;" type = "text" class = "addCom" placeholder = "Add a comment here" name ="comment">
                <input type = "submit" class = "submit">
            </form>
            <table>
            {% for c in comments %}
            <tr>
                {% if c.post_id == hi.post_id %}
                    <td class = "com"> {{ c.comment }}</td>
                    {% for user in users %}
                        {% if user.user_id == c.user_id %}
                            <td class = "com"> {{ user.user_name }}</td>  
                    {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    
    {% endfor %}

    
<script>
    // make the modal


// make the button that opens the modal, it is connected to the image
var image = document.getElementsByClassName('image');
for(var i = 0; i<image.length; i++){


// button the image that closes the modal, connected to the little x in the modal
var closeButton = document.getElementsByClassName("closeModal")[0];


// When the user clicks on the image, open the modal
image[i].addEventListener('click', onclick);
var modal = document.getElementsByClassName("modal");
image[i].onclick = function() { 
    
    modal.style.display = "block";
    modal.src = this.src
    
};
}
// Wh}en the user clicks the x in the modal close it
closeButton.onclick = function() {
    

  modal.style.display = "none";
}

// When teh user clicks away from the modal close out of it
window.onclick = function(event) {

  if (event.target == modal) {
    

    modal.style.display = "none";

  }
} 

</script>

{% endblock %}

