{% extends '_layout.html' %}

{% block title %}Picnetic | Picnetic Home{% endblock %}

{% block body %}
<!---Grid layout inspired by https://www.w3schools.com/css/tryit.asp?filename=trycss_grid ---->
<!-- Modal inspired by https://www.w3schools.com/howto/howto_css_modals.asp -->
<style>
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 0%;    
        margin-right: 25%;
    }
    .grid-item{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .image
    {
        border-color: #005035;
        border-style: double;    
        width: 250px; 
        height: auto;
    }
    .modal{
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);

    }
    .content{
        border: white;
        border-style: solid;
        background-color: black;
        margin: 5% auto;
        padding: 10px;
        width: 60%;
    }
    .close {
        color: #aaa;
        font-size: 25px;
        font-weight: bold;
        display: flex;
    }      
    .header{
        text-align: center;
        font-size: 30px;
        color: white;
        line-height: 33px;
        display: block;
    }
    .para{
        color: white;
        text-align: center;
        font-size: 20px;
        vertical-align: top;
    }
    .addCom{
        display: inline;
        margin-left: 25%;
        height: 40px;
        width: 40%;
    }
    .loadImg {
        width: 50%;
        border-color:#005035;
        border-style: solid;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    .container{
        margin-left: 23.4375%;
        margin-right: 23.4375%; 
    }

    .submit{
        background-color: #005035; 
        color:white; 
        width: 10%; 
        height: 43px; 
        font-size: 20px;
    }
    .com{
        color: white;
        font-size: 15px;
    }
    a {
        color:#005035;
    }
    #comments{
        width: 50%;
    }
    #commentDetails{
        width: 25%;
    }
    #commentSection{
        border-color:#005035;
        border-style: solid;
        border-width: .2px;
        margin-top: 3%;
    }
</style>

<script>
// make the modal


// make the button that opens the modal, it is connected to the image
var image = document.getElementsByClassName('image');
for(var i = 0; i<image.length; i++){
    // button the image that closes the modal, connected to the little x in the modal
    var closeButton = document.getElementsByClassName("closeModal")[0];


    // When the user clicks on the image, open the modal
    image[i].addEventListener('click', onclick);
    var modal = document.getElementsByClassName("modal")[i];
}
// When the user clicks the x in the modal close it
closeButton.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks away from the modal close out of it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
} 

// Display function for modal
function displayPicture(picture){
    let id = "ModalForImage-" + picture.id.substring(6);
    document.getElementById(id).style.display = "block";
}

// Function to close the modal 
function closePicture(picture){
    let id = picture.id.substring(5);
    document.getElementById(id).style.display = "none";
}
</script>

<div class="container">

<div class="grid-container">
    {% for hi in posts %}
    <div class="grid-item">
        
     <input type = "image" src="{{ hi.post_picture }} " id = "image-{{ hi.post_id }}" onclick='displayPicture(this)' class = "image" name = "{{ hi.post_id }}">  

</div>
{% endfor %}
{% for hi in posts %}
    <div class = "modal" id = "ModalForImage-{{ hi.post_id }}" name = "{{ hi.post_id }}"> 
            <div class = "content">
            <div style = "text-align: right; color: white;">
                <span class = "closeModal" id = "CloseModalForImage-{{ hi.post_id }}" onclick='closePicture(this)'>X</span><br>
            </div>
            <div style = "text-align: left; padding-left: 5px;">
                <h2 class = "header"><a href = "/{{ hi.post_id }}">  {{ hi.post_label }}</a></h2>
            </div>
            <img src ="{{ hi.post_picture }}" class = "loadImg"> 
            <p class = "para">{{ hi.post_cap }}</p>
            <form method ="POST" >
                <input type = "hidden" name = "post" value = "{{ hi.post_id }}">
                <input id = "comment" type = "text" class = "addCom" placeholder = "Add a comment here" name ="comment">
                <input type = "submit" class = "submit">
            </form>
            <table id="commentSection">
            {% for c in comments %}
            <tr>
                {% if c.post_id == hi.post_id %}
                    <td class = "com" id="comments"> {{ c.comment }}</td>
                   {% for user in users %}
                        {% if user.user_id == c.user_id %} 
                            <td class = "com" id="commentDetails"> {{ user.user_name }}</td>  
                    {% endif %} 
                    {% endfor %}
                    
                    {% if c.user_id == ui %} 
                        <td class = "com" id="commentDetails"> <a href = "/comment/{{ c.comment_id }}">View Comment</a></td>  
                {% endif %} 
                
                {% endif %}
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    
    {% endfor %}


{% endblock %}

