{% extends '_layout.html' %}

{% block title %}Picnetic | Account Settings{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account Settings</title>
</head>
<body>
    <div id="publicprofile">
        <h2> Public Profile </h2> <br>
        <p> Other users who view your account would see this information. </p> <br>
        <br>

        <form>
        <label for="display_name"> Display Name: </label> <br>
        <input type="text" id="display_name" name="display_name"> <br>
        <label for="birthday"> Birthday: </label> <br>
        <input type="text" id="birthday" name="birthday"> <br>

        <br>

        <label for="bio"> Bio: </label> <br>
        <input type="text" id="bio" name="bio"> <br>
        <label for="pronouns"> Pronouns </label> <br>
        <input type="text" id="pronouns" name="pronouns"> <br>

        <br>
        </form>
    </div>

    <div id="account_management">
        <h2> Account Management </h2> <br>
        <br>

        <form>

        <label for="email"> Email </label> <br>
        <input type="email" id="email" name="email"> <br>
        <label for="password"> Password </label> <br>
        <input type="password" id="password" name="password"> <br>
        <input type="submit" value="Change">
        </form>
    </div>

    <div id="deactivation">
    <form>
        <input type="submit" value="Reset">
        <input type="submit" value="Save">
    </form>
    </div>
</body>
</html>

{% endblock %}