{% extends '_layout.html' %}

{% block title %}Picnetic | Account Settings{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Settings</title>
</head>
<body>
    <h2> Please select one of the redirected options for additional settings</h2>
    <ul>
        <li> Account Information</li>
        <li> Payment Information</li>
        <li> Notification Preferences </li>
        <li> Visibility Preferences </li>
        <li> Contacts </li>
        <li> Delete Your Account </li>
    </ul>
</body>
</html>

{% endblock %}