{% extends '_layout.html' %}

{% block title %}Picnetic | Single Comment{% endblock %}

{% block body %}
<style>
    #contiainer{
        margin-bottom: 5px;
    }
    .content{
        background-color: #fefefe;
        margin: 5% auto;
        padding: 10px;
        width: 40%;
        border-style: solid;
        border-color: #005035;
    }
    .close {
        color: #aaa;
        font-size: 25px;
        font-weight: bold;
        display: flex;
    }      
    .header{
        text-align: left;
        font-size: 30px;
        color: black;
        line-height: 33px;
        display: inline-block;
    }
    .para{
        display: inline;
        color: black;
        padding-top: 5px;
        padding-left: 5px;
        text-align: left;
        font-size: 20px;
    }    
    .editLogo{
        width: 5%;
        display: inline;
        padding-bottom: 1.5%;
    }
    #account{
        margin-left: 23.4375%;
        margin-right: 23.4375%;
    }

</style>
<div id="container">
    <h2 id="account">Account Name: {{ us }}</h2>
    <div class = "content">

    <h2 class="header" id="change"> Comment: {{ comment.comment }}</h2>

    {% if comment.user_id == ui %}
    <a href="/comment/{{ comment.comment_id }}/edit">
        <img class="editLogo" src="/static/images/edit.png" alt="Edit logo">  
    </a>

    <form method = "post" action ="/comment/{{ comment.comment_id }}/delete">
        <button type = "submit" >Delete</button>
    </form>
    {% endif %}
    
    <br>

    </div>


</div>
{% endblock %}


