{% extends '_layout.html' %}

{% block title %}Picnetic | Picnetic Home{% endblock %}

{% block body %}
<style>
    #contiainer{
        margin-bottom: 5px;
    }
    .content{
        background-color: #fefefe;
        margin: 5% auto;
        padding: 10px;
        width: 40%;
        border-style: solid;
        border-color: #005035;
    }
    .close {
        color: #aaa;
        font-size: 25px;
        font-weight: bold;
        display: flex;
    }      
    .header{
        text-align: left;
        font-size: 30px;
        color: black;
        line-height: 33px;
        display: inline-block;
    }
    .para{
        display: inline;
        color: black;
        padding-top: 5px;
        padding-left: 5px;
        text-align: left;
        font-size: 20px;
    }
    .addCom{
        width: 85%;
        height: 40px;
        vertical-align: top;
        
    }
    .submit{
        background-color: #005035; 
        color:white; 
        height: 40px; 
        width: 14%; 
    }
    .deleteForm{
        padding-left: .5%;
        padding-bottom: .5%;
        display: inline;
    }
    .editLogo{
        width: 5%;
        display: inline;
        padding-bottom: .5%;
    }
    .deleteLogo{
        width: 3.5%;
        display: inline;
        padding-bottom: .75%;
    }
    .loadImg {
        width: 100%;
        height: auto;
    }
</style>
<div id="container">
    <div class = "content">
    
    <div style = "text-align: left; padding-left: 5px;">
        <h2 class="header" id="change"> {{ post.post_label }}</h2>
    </div>
    <img src = "{{ post.post_picture }}" class = "loadImg"> 
    <p class = "para">{{ post.post_cap }}</p>
    {% if post.user_name == us %}
    <a href="/post/{{ post.post_id }}/edit">
        <img class="editLogo" src="/static/images/edit.png" alt="Edit logo">  
    </a>
    <form class= "deleteForm" method = "post" action ="/posts/{{ post.post_id }}/delete">
        <img type = "submit" class="deleteLogo" src="/static/images/delete.png">
    {% endif %}
    <form method ="post" name = "comment">
        <input type = "hidden" name = "post" value = "comment">
        <input id = "comment" type = "text" class = "addCom" placeholder = "Add a comment here" autofill = "off">
        <input type = "submit" class = "submit">
    </form>
    <br>

    </div>


</div>
{% endblock %}


