body {
    margin: 0;
    font-family: Oswald;
}


  
header {
    overflow: hidden;
    background-color: white;
    margin-left: 15.625%;
    margin-right: 15.625%;
}


  
header a {
    float: right;
    color: #005035;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 2px 6px 4px #33333360;
    font-size: 34px;
}



  
header a:hover {
    background-color: #817032;
    color: white;
}

.header_dark {
    background-color: black;
}

.header_dark a {
    color: #837236;
    text-shadow: 2px 6px 4px #233a30;
}

.header_dark a:hover {
    background-color: #817032;
    color: white;
}

footer {
    overflow: hidden;
    background-color: white;
    margin-left: 23.4375%;
    margin-right: 23.4375%;
}



  
footer a {
    float: left;
    color: #005035;
    padding: 0px 16px;
    text-decoration: none;
    text-shadow: 2px 6px 4px #33333360;
    font-size: 14px;
}

.footer_dark {
    background-color: black;
}

.footer_dark a {
    color: #837236;
    text-shadow: 2px 6px 4px #233a30;
}

.logo-image {
    width: 300px;
}

.footer-image {
    width: 125px;
    float: right;
}

table,
th,
td {
    width: 100%;
}

body{
    background-color: white;
    color: black
}

.body_dark {
    background-color: black;
    color: white;
}

.mode {
    float:right;
}



body{
    background-color: white;
    color: black
}

.body_dark{
    background-color: black;
    color: white;
}

.mode {
    float:right;
}

.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
} 