body {
    margin: 0;
    font-family: Oswald;
}
  
.header_light {
    overflow: hidden;
    background-color: white;
    margin-left: 300px;
    margin-right: 300px;
}
  
.header_light a {
    float: right;
    color: #005035;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 2px 6px 4px #33333360;
    font-size: 45px;
}
  
.header_light a:hover {
    background-color: #817032;
    color: white;
}

.header_dark {
    overflow: hidden;
    background-color: black;
    margin-left: 300px;
    margin-right: 300px;
}
  
.header_dark a {
    float: right;
    color: #837236;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 2px 6px 4px #233a30;
    font-size: 45px;
}
  
.header_dark a:hover {
    background-color: #817032;
    color: white;
}

.footer_light {
    overflow: hidden;
    background-color: white;
    margin-left: 450px;
    margin-right: 450px;
}
  
.footer_light a {
    float: left;
    color: #005035;
    padding: 0px 16px;
    text-decoration: none;
    text-shadow: 2px 6px 4px #33333360;
    font-size: 14px;
}

.footer_dark {
    overflow: hidden;
    background-color: black;
    margin-left: 450px;
    margin-right: 450px;
}
  
.footer_dark a {
    float: left;
    color: #837236;
    padding: 0px 16px;
    text-decoration: none;
    text-shadow: 2px 6px 4px #233a30;
    font-size: 14px;
}

.logo-image {
    width: 300px;
}

.footer-image {
    width: 125px;
    float: right;
}

table, th, td {
    width: 100%;
    
}

.body_dark{
    background-color: black;
    color: white;
}

.body_light{
    background-color: white;
    color: black
}

.button_light {
    background-color: #233a30;
    border:#837236;
    border-style: inset; 
    color: white;
}